<div class="container-sm">
  <!-- <h1 class="text-center">Estera's Calculator</h1> -->
  <mat-card class="all-content">

    <mat-card class="title">Estera's Calculator</mat-card>
    
      <mat-card class="message-label">
        <mat-card-content>{{output}}</mat-card-content>
      </mat-card>
      <mat-card class="result-label">
        <mat-card-content>{{input}}</mat-card-content>
      </mat-card>
    
    <mat-card class="calculator-buttons">
      <div class="col-sm-3 p-1 m-0">
        <button mat-stroked-button color="primary" class="op-buttons" (click)="pressClear()">CE</button>
        <button mat-stroked-button color="primary" class="long-op-buttons" (click)="pressDelete()">Clear</button>
      </div>
      <div class="col-sm-3 p-1 m-0">
        <button mat-stroked-button color="primary" class="op-buttons" (click)="pressOperation('MOD')">|x|</button>
        <button mat-stroked-button color="primary" class="op-buttons" (click)="pressOperation('^')">x^y</button>
        <button mat-stroked-button color="primary" class="op-buttons" (click)="pressOperation('√')">√x</button>
        <button mat-stroked-button color="primary" class="op-buttons" (click)="pressOperation('/')">÷</button>
        <button mat-stroked-button color="primary" class="long-op-buttons" (click)="pressOperation('M')">Mirror</button>
      </div>
      <div class="col-sm-3 p-1 m-0">
        <button mat-raised-button color="link" class="num-buttons" (click)="pressNum('7')">7</button>
        <button mat-raised-button color="link" class="num-buttons" (click)="pressNum('8')">8</button>
        <button mat-raised-button color="link" class="num-buttons" (click)="pressNum('9')">9</button>
        <button mat-stroked-button color="primary" class="op-buttons" (click)="pressOperation('*')">*</button>
        <button mat-stroked-button color="primary" class="long-op-buttons" (click)="pressOperation('OE')">Odd/Even</button>
      </div>
      <div class="col-sm-3 p-1 m-0">
        <button mat-raised-button color="link" class="num-buttons" (click)="pressNum('4')">4</button>
        <button mat-raised-button color="link" class="num-buttons" (click)="pressNum('5')">5</button>
        <button mat-raised-button color="link" class="num-buttons" (click)="pressNum('6')">6</button>
        <button mat-stroked-button color="primary" class="op-buttons" (click)="pressOperation('-')">-</button>
        <button mat-stroked-button color="primary" class="long-op-buttons" (click)="pressOperation('PRIME')">Is Prime?</button>
      </div>
      <div class="col-sm-3 p-1 m-0">
        <button mat-raised-button color="link" class="num-buttons" (click)="pressNum('1')">1</button>
        <button mat-raised-button color="link" class="num-buttons" (click)="pressNum('2')">2</button>
        <button mat-raised-button color="link" class="num-buttons" (click)="pressNum('3')">3</button>
        <button mat-stroked-button color="primary" class="op-buttons" (click)="pressOperation('+')">+</button>
        <button mat-stroked-button color="primary" class="long-op-buttons" (click)="pressOperation('P')">Palindrome</button>
      </div>
      <div class="col-sm-3 p-1 m-0">
        <button mat-stroked-button color="primary" class="op-buttons" (click)="pressCS()">+/-</button>
        <button mat-raised-button color="link" class="num-buttons" (click)="pressNum('0')">0</button>
        <button mat-stroked-button color="primary" class="op-buttons" (click)="pressDot()">.</button>
        <button mat-stroked-button color="primary" class="op-buttons" (click)="pressOperation('RESULT')">=</button>
        <button mat-stroked-button color="primary" class="long-op-buttons" (click)="pressOperation('SP')">Super Palindrome</button>
      </div>
    </mat-card>
  </mat-card>
</div>