
.mat-mdc-card.all-content {
    width: fit-content;
    align-self: center;
    display: flex;
}

.mat-mdc-card.title {
    font-size: xx-large;
    height: 30px;
    align-content: end;
    margin-top: 10px;
    margin-bottom: 10px;
    background-blend-mode: color;
    padding: 46px;
    align-items: center;
}
.mat-mdc-card.message-label{
    height: 45px;
}
.calculator-buttons button {
    height: 47px;
    
    font-size: 17px;
    margin: 2px;
}
.num-buttons{
    width: 90px;
}
.op-buttons {
    background-color: rgb(163, 184, 243);
    color: #684c4c;
    width: 90px;
}
.long-op-buttons {
    background-color: rgb(163, 184, 243);
    color: #684c4c;
    width: 120px;
}

.mdc-button:hover {
    cursor: pointer;
}

.mat-mdc-card.calculator-buttons {
    display: flex;
    align-self: center;
    align-items: end;
}

.mat-mdc-card.message-label {
    font-size: larger;
    align-items: end;
}

.mat-mdc-card.result-label {
    font-size: xx-large;
    align-items: end;
}