
.mat-mdc-card.all-content {

    width: fit-content;
    align-self: center;
    display: flex;
    /* background-color: #1f1f24; */
}


.mat-mdc-card.title {

    font-size: xx-large;
    height: 30px;
    align-content: end;
    margin-top: 10px;
    margin-bottom: 10px;
    background-blend-mode: color;
    /*  background-color: #d0bebe; */
    padding: 46px;
    align-items: center;

}


.calculatorButtons button {
    height: 47px;
    width: 90px;
    font-size: 17px;
    margin: 2px;
    /* background-color: #1f1f24 */
}

.op-buttons {
    background-color: rgb(183, 151, 184);
    color: #684c4c;
}
.mdc-button:hover {
    cursor: pointer;
    /* background: #232324; */
}


.mat-mdc-card.calculatorButtons {

    display: flex;
    align-self: center;
    align-items: end;
}



.mat-mdc-card.messageLabel {

    font-size: larger;
    align-items: end;
 


}

.mat-mdc-card.resultLabel {

    font-size: xx-large;
    align-items: end;
 
}